<div class="z-depth-1 grey lighten-4 "
     style="display: inline-block; padding: 32px 48px 16px 48px; border: 1px solid #EEE; margin: 56px 0px 0px 0px">
    <h4>Add Trade</h4>

    <div class="row">
        <form class="col s12" method="post" action="{{ url_for('add_trade') }}">
            <div class="row">
                <div class="input-field col s4">
                    <input id="client_code" type="text" class="validate">
                    <label for="client_code">Client Code</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s4">
                    <select>
                        <option value="" disabled selected>Choose currency pair</option>
                        <option value="1">GBP/USD</option>
                        <option value="2">GBP/EUR</option>
                        <option value="3">EUR/USD</option>
                    </select>
                    <label>CCY PAIR</label>
                </div>
                <div class="input-field col s4">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Base Notional</label>
                </div>
                <div class="input-field col s4">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Price</label>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="row">
                        <span><b>Base Direct</b></span>
                    </div>

                    <div class="row">
                        <input id="choice_1" class="with-gap" name="group1" type="radio" checked/>
                        <label for="choice_1" STYLE="color: black;">Buy</label>
                    </div>

                    <div class="row">
                        <input id="choice_2" class="with-gap" name="group1" type="radio"/>
                        <label for="choice_2" STYLE="color: black;">Sell</label>
                    </div>
                </div>

                <div class="col s6">
                    <div class="row">
                        <span><b>Trade Type</b></span>
                    </div>
                    <div class="row">
                        <input id="order_1" class="with-gap" name="group2" type="radio" checked/>
                        <label for="order_1" STYLE="color: black;">SPOT</label>
                    </div>

                    <div class="row">
                        <input id="order_2" class="with-gap" name="group2" type="radio"/>
                        <label for="order_2" STYLE="color: black;">LIMIT</label>
                    </div>
                </div>

            </div>

            <a class="btn btn-primary addButton waves-effect waves-light btn" style="margin-top: 20px;">Add Trade</a>

        </form>
    </div>
</div>
