<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">

    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <title>FX Netting</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <style>

        @font-face {
            font-family: TextFont;
            src: url(../static/css/fonts/Sextan-Roman-FFP.ttf);
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background: #fff;
        }

        h4 {
            font-family: TextFont;
        }

        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #1a237e;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #1a237e;
            box-shadow: none;
        }
    </style>
</head>

<body>

{% block navbar %}

{% endblock %}

<main>
    <center>
            {% block content %}
            {% endblock %}

    </center>

</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='app.js')}}"></script>
{% block javascript %}
{% endblock %}
</body>

</html>
