{% extends 'base.html' %}

{% block navbar %}
            {% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <!--<div class="row">-->
        <!--<div class="col s7">-->
            <!--{% include 'trade_book.html' %}-->
        <!--</div>-->
    <!--</div>-->
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}