<div class="z-depth-1 grey lighten-4"
     style="display: inline-block; padding: 32px 48px 16px 48px; border: 1px solid #EEE; margin: 56px 0px 0px 0px">
    <h4>Net Currency Data</h4>

    <table>
        <thead>
        <tr>
            <th>Currency Pair</th>
            <th>Net Position</th>
        </tr>
        </thead>

        <tbody>
        {% for key, value in currency_data.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary updateButton waves-effect waves-light btn" style="margin-top: 20px;">Update Net Position</a>

</div>