<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">

    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <title>FX Netting</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <style>

        @font-face {
            font-family: TextFont;
            src: url(../static/css/fonts/Sextan-Roman-FFP.ttf);
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background: #fff;
        }

        h4 {
            font-family: TextFont;
        }

        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #1a237e;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #1a237e;
           box-shadow: none;
        }


        span
        {
            padding: 0px 0px 0px 5px;
        }

        @font-face
        {
            font-family: NewFont;
            src: url(../static/css/fonts/FallingSkyBd.otf);
        }

    </style>
</head>

<body>

<nav>
    <div class="nav-wrapper z-depth-2" style="background-color:#3949ab">
        <a href="#">
            <img style="padding: 8px 3px 5px 8px;" src="../static/images/dbwhite.png" width="60" height="60" >
            <a href="#"> <span style="padding:0px 0px 0px 10px; font-family:NewFont; " class="brand-logo">Deutsche Bank</span> </a>
        </a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">

          <li>
              <span style="font-size:24px; font-family:NewFont;"> {{ username }} </span>
          </li>

          <li>
              <a href="#">
                  <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Logout  "> power_settings_new </i>
              </a>
          </li>
      </ul>
    </div>
  </nav>

<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>


<script type="text/javascript">
  $(document).ready(function(){
    $('.sidenav').sidenav();
  })
</script>

</body>

</html>
