<div class="z-depth-1 grey lighten-4 "
     style="display: inline-block; padding: 32px 48px 16px 48px; border: 1px solid #EEE; margin: 56px 0px 0px 0px">
    <h4>Trade Book</h4>

    <div class="row">
        <h2>TRADE HISTORY HERE!!</h2>
    </div>
</div>
